<div class="form">
  <%= form_for(@taxi) do |f| %>
      <% if @taxi.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@taxi.errors.count, "error") %> prohibited this taxi from being saved:</h2>

            <ul>
              <% @taxi.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
  <% end %>
</div>
