/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$top-color: #ffe44b;
$menu-color: #FDD700;
$highlight-color: #340098;

* {
  font-family: 'Rubik', sans-serif;
  padding: 0;
  margin: 0;
}

#notice {
  color: #000 !important;
  padding: 15px;
  margin-bottom: 10px;
  background-color: #eee5ff;
  font-family: 'Rubik', bold sans-serif;
  font-size: 16px;
}

a {
  color: $highlight-color;
  font-size: small;
  &:hover {
    color: $menu-color;
    background-color: $highlight-color;
  }
}

@mixin text {
  padding: 3px 5px 3px 5px;
}

td, th, a, p {
  font-size: 14px;
}

table {
  * {
    @include text;
  }
}

h1, p, a, .form {
  @include text;
}

.field {
  input {
    min-width: 10cm;
  }
}

#banner {
  background: $top-color;
  padding: 30px;
  font-size: 40px;
  font-family: 'Fredoka One', cursive, serif;
  text-align: center;
}

#taxi_line {
  height: 30px;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  background: url(<%= asset_path 'checked.png' %>) repeat-x;
}

html, body {
  height: 100%;
}

#menu-bg {
  position: absolute;
  height: 100%;
  width: 150px;
  z-index: -1;
  background: $menu-color;
}

#columns {
  background: $menu-color;

  #main {
    margin-left: 150px;
    padding: 20px;
    background: white;
  }

  #side {
    float: left;

    ul {
      padding: 30px 45px;
      li {
        list-style: none;
        padding-bottom: 10px;
        * {
          padding: 0;
          font-size: 18px;
        }
      }
    }
  }
}

#error_explanation {
  ul {
    li {
      list-style: none;
    }
  }
}

.row_even {
  background: #eee5ff;
}

.row_odd {
  background: #deccff;
}
