<h1>Statistics</h1>
<div id="week_stats">
  <p>Distance in current week:  <%= @week_distance %> km</p>
  <p>Money spent in current week:  <%= @week_price %> EUR</p>
</div>

<table>
  <thead>
  <tr>
    <th>Day</th>
    <th>Rides sum</th>
    <th>Avg. ride</th>
    <th>Avg. price</th>
    <th>Taxis</th>
  </tr>
  </thead>
  <tbody>
  <% @month_stats.each do |day, stats| %>
      <tr class="<%= cycle('row_odd', 'row_even') %>">
        <td> <%= stats[:day] %></td>
        <td> <%= number_with_precision(stats[:distance_sum], :precision => 3) %> km</td>
        <td> <%= number_with_precision(stats[:avg_distance], :precision => 3) %> km</td>
        <td> <%= number_with_precision(stats[:avg_price], :precision => 2) %> EUR</td>
        <td> <%= stats[:taxis] %></td>
      </tr>
  <% end %>
  </tbody>
</table>
