<%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyC5rhvfNGL7HxDPKdhGKp_Q-BjdCxCJwQA' %>
<div class="form">
  <%= form_for(@ride) do |f| %>
      <% if @ride.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@ride.errors.count, "error") %> prohibited this ride from being saved:</h2>

            <ul>
              <% @ride.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="field">
        <%= f.label :start_address %><br>
        <%= f.text_field :start_address, :placeholder => 'Street Number, City, Country' %>
      </div>
      <div class="field">
        <%= f.label :destination_address %><br>
        <%= f.text_field :destination_address, :placeholder => 'Street Number, City, Country' %>
      </div>
      <div class="field">
        <%= f.label :distance %><br>
        <%= f.text_field :distance %> km
      </div>
      <div class="field">
        <%= f.label :price %><br>
        <%= f.text_field :price %> EUR
      </div>
      <div class="field">
        <%= f.label :date %><br>
        <%= f.date_select :date %>
      </div>
      <div class="field">
        <%= f.label :taxi %><br>
        <%= f.collection_select :taxi_id, Taxi.order(:name), :id, :name, prompt: true, include_blank: false %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
  <% end %>
</div>
