<h1>Rides</h1>

<table>
  <thead>
  <tr>
    <th>Price</th>
    <th>Distance</th>
    <th>Date</th>
    <th>Taxi</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @rides.each do |ride| %>
      <tr class="<%= cycle('row_odd', 'row_even') %>">
        <td><%= number_with_precision(ride.price, :precision => 2) %> EUR</td>
        <td><%= number_with_precision(ride.distance, :precision => 3) %> km</td>
        <td><%= ride.formatted_date %></td>
        <td><%= ride.taxi_name %></td>

        <td><%= link_to 'Show', ride %></td>
        <td><%= link_to 'Edit', edit_ride_path(ride) %></td>
        <td><%= link_to 'Destroy', ride, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ride', new_ride_path %>
