<p>
  <strong>Price:</strong>
  <%= @ride.price %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @ride.distance %>
</p>

<p>
  <strong>Date:</strong>
  <%= @ride.date %>
</p>

<p>
  <strong>Taxi:</strong>
  <%= @ride.taxi_name %>
</p>

<%= link_to 'Edit', edit_ride_path(@ride) %> |
<%= link_to 'Back', rides_path %>
