<!DOCTYPE html>
<html>
<head>
  <title>Riderank</title>
  <link href='https://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Rubik:300' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag "favicon.png" %>
</head>
<body>
<div id="menu-bg"></div>
<div id="banner">
  Riderank
</div>
<div id="taxi_line"></div>
<div id="columns">
  <div id="side">
    <ul>
      <li><%= link_to 'Stats', stats_show_path %></li>
      <li><%= link_to 'Rides', rides_path %></li>
      <li><%= link_to 'Taxis', taxis_path %></li>
    </ul>
  </div>
  <div id="main">
    <% if flash[:notice] %>
        <p id="notice"><%= notice %></p>
    <% end %>
    <%= yield %>
  </div>
</div>
</body>
</html>